/* Color Theme Swatches in Hex */
.color-theme_nerdsLogo-1-hex {
  color: #a61420;
}
.color-theme_nerdsLogo-2-hex {
  color: #593239;
}
.color-theme_nerdsLogo-3-hex {
  color: #212326;
}
.color-theme_nerdsLogo-4-hex {
  color: #f23030;
}
.color-theme_nerdsLogo-5-hex {
  color: #f2f2f2;
}


#f2f2f2; #f23030; #a61420;#593239;#212326;


/* Color Theme Swatches in RGBA */
.color-theme_nerdsLogo-1-rgba {
  color: rgba(166, 20, 32, 1);
}
.color-theme_nerdsLogo-2-rgba {
  color: rgba(89, 50, 57, 1);
}
.color-theme_nerdsLogo-3-rgba {
  color: rgba(33, 35, 38, 1);
}
.color-theme_nerdsLogo-4-rgba {
  color: rgba(242, 48, 48, 1);
}
.color-theme_nerdsLogo-5-rgba {
  color: rgba(242, 242, 242, 1);
}

/* Color Theme Swatches in HSLA */
.color-theme_nerdsLogo-1-hsla {
  color: 355, 78%, 36%;
}
.color-theme_nerdsLogo-2-hsla {
  color: 349, 28%, 27%;
}
.color-theme_nerdsLogo-3-hsla {
  color: 216, 7%, 13%;
}
.color-theme_nerdsLogo-4-hsla {
  color: 0, 88%, 56%;
}
.color-theme_nerdsLogo-5-hsla {
  color: 0, 0%, 94%;
}
